# Node.js       
npm-debug.log
yarn-error.log
node_modules/

# Next.js
out/
*.log
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Build output
dist/
.vercel

/src/generated/prisma
